* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #202124;
}

h1,
h2,
h3,
input,
button {
  font-family: 'Raleway', sans-serif;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 14px;
  background: #252525;
  gap: 14px;
}

header {
  display: flex;
  align-items: stretch;
}

header,
.main {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  gap: 14px;
}

header input {
  flex: 1;
  border-radius: 14px;
  outline: none;
  width: 100%;
}

header button {
  border: 2px solid #04AA6D;
  border-radius: 14px;
  background: transparent;
  transition-duration: 200ms;
  cursor: pointer;
}

header button:hover {
  background-color: #3d3d3d;
  color: rgb(252, 245, 105);
}

header button,
header input {
  padding: 14px 18px;
  border: none;
  outline: none;
  background: rgb(205, 245, 245);
}

p {
  font-size: 0.9em;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.todoItem {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 14px;
  border-radius: 14px;
  background: rgb(205, 245, 245);
}

.todoItem p {
  flex: 1;
}

.actionsContainer {
  display: flex;
  align-items: center;
  gap: 14px;
}

.actionsContainer button {
  border-radius: 14px;
  height: 30px;
  width: 30px;
  transition-duration: 200ms;
  border: none;
  background: transparent;
  cursor: pointer;
  .fa-regular{
    display: none;
  }
}

.actionsContainer button:hover {
  background: #3d3d3d;
  color: white;
  transform: scale(1.2);
  .fa-regular{
    display: inline-block;
  }

  .fa-solid{
    display: none;
  }
}

button:hover .fa-regular {
  color: rgb(252, 245, 105);
}




@media (min-width: 640px) {

  header button,
  header input {
    font-size: 1.2em;
  }

  p {
    font-size: 1em;
  }
}